In [1]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType 
from pyspark.sql.functions import col 

# Define the schema 
schema = StructType([ 
    StructField("id", IntegerType(), True), 
    StructField("role", StringType(), True), 
    StructField("department", StringType(), True) 
]) 

# Create an empty DataFrame with the schema 
df = spark.createDataFrame([], schema) 
# Write the DataFrame to the catalog as a new table 
df.writeTo("glue.test.emp_partitioned").partitionedBy(col("department")).create()

In [2]:
df_new = spark.read.table("glue.test.emp_partitioned")

In [3]:
df_new.show(10, False)

+---+----+----------+
|id |role|department|
+---+----+----------+
+---+----+----------+

In [4]:
spark.sql("""CREATE TABLE glue.test.employee ( id INT, role STRING, department STRING, salary FLOAT, region STRING)
            USING iceberg """)

DataFrame[]

In [4]:
spark.sql("""CREATE TABLE glue.test.employee ( id INT, role STRING, department STRING, salary FLOAT, region STRING)
            USING iceberg """)

DataFrame[]

In [5]:
spark.sql("""INSERT INTO glue.test.employee VALUES
                (1, 'Software Engineer', 'Engineering', 25000, 'NA'), 
                (2, 'Director', 'Sales', 22000, 'EMEA')
          """)

DataFrame[]

In [6]:
df_emp = spark.read.table("glue.test.employee")

In [7]:
df_emp.show(10, False)

+---+-----------------+------------+-------+------+
|id |role             |department  |salary |region|
+---+-----------------+------------+-------+------+
|1  |Software Engineer|Engi neering|25000.0|NA    |
|2  |Director         |Sales       |22000.0|EMEA  |
+---+-----------------+------------+-------+------+